body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.asssetst{
    background-image: url(/assests/images/IMG-20241031-WA0032.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-top: -20px;
    padding: 0;
    height: 740px;
    overflow: hidden;
    position: relative;
    transition: opacity;
}